.carousel-caption {
    display: flex!important;
    justify-content: center;
}

.carousel-caption h5 {
    font-size: 30px;
    color: antiquewhite;
    font-weight: 600;
    background-color: rgba(69, 55, 55, 0.8);
    width: fit-content;
    padding: 2px 10px;
}
