<body>
    <h3 class="heading"><img src="assets/logo.png" alt="" style="height: 90px; width: 90px;padding-right: 5px;">Hotel Management</h3>

    <router-outlet></router-outlet>

    <!-- footer section starts  -->

    <section class="footer">
        <div class="box-container">
            <div class="box col-3">
                <h3>Quick Links</h3>
                <a href=""> <i class="fas fa-angle-right"></i> Home</a>
                <a href=""> <i class="fas fa-angle-right"></i> About</a>
                <a href=""> <i class="fas fa-angle-right"></i> Hotels</a>
                <a href=""> <i class="fas fa-angle-right"></i> Book</a>
            </div>

            <div class="box col-3">
                <h3>Extra Links</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> Ask Questions</a>
                <a href="#"> <i class="fas fa-angle-right"></i> About Us</a>
                <a href="#"> <i class="fas fa-angle-right"></i> Privacy Policy</a>
                <a href="#"> <i class="fas fa-angle-right"></i> Terms of Use</a>
            </div>

            <div class="box col-3">
                <h3>Contact Info</h3>
                <a href="#"> <i class="fas fa-envelope"></i> abc@gmail.com </a>
                <a href="#"> <i class="fas fa-map"></i> Indore[M.P], India </a>
            </div>

            <div class="box col-3">
                <h3>Follow Us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> Facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> Twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> Linkedin </a>
            </div>

        </div>

        <div class="credit"> copyright © 2023 | all rights reserved! </div>

    </section>

    <!-- footer section ends -->
</body>
